### 005856021 (UID)
### Assignment Week 1 
### Rick Kessels

Self assessment: I think this week's assignments went well. I managed to do all of them, including the optional exercise 2.11.

In [1]:
# 2.1 What Does This Code Do?

First, we allocate the values 2 and 3 to the variables x and y respectively.

In [2]:
x = 2
y = 3

a. The first statement concatenates the string 'x =' with the value allocated to the variable x. Hence, I expect the output to be a string 'x = 2', without the quotation marks.

In [3]:
print('x =', x)

x = 2

b. The second statement concatenates the string 'Value of' with the value allocated to the variable x, a string '+", another occurrence of the value allocated to the variable x, the string 'is' and then a summation of the two values. Hence, I expect the output to be a string 'Value of 2 + 2 is 4', without the quotation marks.

In [4]:
print('Value of', x, '+', x, 'is', (x + x))

Value of 2 + 2 is 4

c. The third statement will print the string 'x =' without the quotation marks. It will not print the value of x, since x is in quotation marks and will therefore be regarded to be a string.

In [5]:
print('x =')

x =

d. The fourth statement concatenates the summation of x and y with a string 'x =' and then the summation of y and x. Hence, I expect the output to be a string '5 x = 5', without the quotation marks.

In [6]:
print((x + y), 'x =', (y + x))

5 x = 5

In [7]:
# 2.2 What's Wrong with This Code?

The code as presented in the exercise asks the user for an input. The default type for such input is a string, which means that the variable rating will be of type string. E.g. if the user inputs '1', the string '1' will be allocated to the variable rating. Let us try this out to cross-check:

In [8]:
rating_1 = input('Enter an integer rating between 1 and 10: ')

Enter an integer rating between 1 and 10:  5

In [9]:
rating_1

'5'

In [10]:
type(rating_1)

str

Since the code should read an integer into the variable rating, we can transform the input string into an integer as follows:

In [11]:
rating_2 = int(input('Enter an integer rating between 1 and 10: '))

Enter an integer rating between 1 and 10:  5

Now that we have asked the user for input, we can check the value allocated to rating_2 and the type of rating_2.

In [12]:
rating_2

5

In [13]:
type(rating_2)

int

We indeed see that the type of rating_2 is now an integer and the correct integer value has been allocated to the variable rating_2.

In [14]:
# 2.10 Arithmetic, Smallest and Largest

In [15]:
"""Find the sum, average, product, minimum and maximum of three integers."""

integer_1 = int(input('Enter first integer'))
integer_2 = int(input('Enter second integer'))
integer_3 = int(input('Enter third integer'))

summation = integer_1 + integer_2 + integer_3
print('The sum of the three integers is: ', summation)

average = summation / 3
print('The average of the three integers is: ', average) 

product = integer_1 * integer_2 * integer_3
print('The product of the three integers is: ', product)

minimum = integer_1
if (integer_2 < minimum):
    minimum = integer_2
if (integer_3 < minimum):
    minimum = integer_3
print('The minimum of the three integers is: ', minimum)
    
maximum = integer_1
if (integer_2 > maximum):
    maximum = integer_2
if (integer_3 > maximum):
    maximum = integer_3
print('The maximum of the three integers is: ', maximum)

Enter first integer 16
Enter second integer 8
Enter third integer 39

The sum of the three integers is:  63
The average of the three integers is:  21.0
The product of the three integers is:  4992
The minimum of the three integers is:  8
The maximum of the three integers is:  39

In [16]:
# 2.12 7% Investment Return

The formula given in the exercise is as follows: $ a = p(1 + r)^{n} $, with $p$ being the original amount invested, $r$ being the annual rate of return, $n$ being the number of years, and $a$ being the amount on the deposit at the end of the $n$th year.

The value for $p$ and $r$ is set in this exercise, and hence, we can allocate the set values to them first.

In [17]:
p = 1000
r = 0.07

Now, we will allocate the value 10 to the variable $n$ and use the formula to calculate the amount on deposit after 10 years a_10.

In [18]:
n = 10
a_10 = p * ((1 + r) ** n)

In [19]:
a_10

1967.1513572895665

Hence, the amount on deposit after 10 years is 1967.15 dollars.

Next, we will change the value for our variable $n$ to 20, and calculate the amount on deposit after 20 years a_20.

In [20]:
n = 20
a_20 = p * ((1 + r) ** n)

In [21]:
a_20

3869.6844624861833

Hence, the amount on deposit after 20 years is 3869.68 dollars.

Finally, we will change the value for our variable $n$ to 30, and calculate the amount on deposit after 30 years a_30.

In [22]:
n = 30
a_30 = p * ((1 + r) ** n)

In [23]:
a_30

7612.255042662042

Hence, the amount on deposit after 30 years is 7612.26 dollars.

To conclude, this is a summary of the amount on deposit:
* After 10 years: 1967.15 dollars.
* After 20 years: 3869.68 dollars.
* After 30 years: 7612.26 dollars.

In [24]:
# 2.13 How Big Can Python Integers Be?

First, we try to raise 10 to the power 10.

In [25]:
number_1 = 10 ** 10

In [26]:
number_1

10000000000

Python is able to calculate this number perfectly! Now, we try 10 to the power 100 and 10 to the power 1000.

In [27]:
number_2 = 10 ** 100

In [28]:
number_2

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [52]:
number_2

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [29]:
number_3 = 10 ** 1000

In [31]:
number_3

10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

We can see that Python is able to calculate these numbers just as well! It seems like Python indeed does not restrict the range of values for an integer.

In [32]:
# 2.11 Separating the Digits in an Integer

In [33]:
""" Putting spaces between digits of a 5-digit number."""

integer = int(input('Type five numbers without spaces: '))
digit_1 = integer // 10000 # Floor division to obtain individual digits.
remainder_1 = (integer % (digit_1 * 10000)) # Use remainder operation to obtain digits still to be split.

digit_2 = remainder_1 // 1000
remainder_2 = (remainder_1 % (digit_2 * 1000))

digit_3 = remainder_2 // 100
remainder_3 = (remainder_2 % (digit_3 * 100))

digit_4 = remainder_3 // 10

digit_5 = (remainder_3 % (digit_4 * 10))

print(digit_1, ' ', digit_2, ' ', digit_3, ' ', digit_4, ' ', digit_5)

Type five numbers without spaces:  42339

4   2   3   3   9