# 005856021 (UID) - Assignment Week 5 - Rick Kessels

Self-Assessment: The exercises went pretty well! I was unable to figure out how to combine unicodes to make e.g. flags, and I couldn't find a clear answer on the internet either. Do you perhaps know how to do this? Thank you in advance!

# 7.23 Pandas: DataFrames

a. We are asked to create a `DataFrame` named `temperatures` from a dictionary of three temperature readings each for `'Maxine'`, `'James'` and `'Amanda'`.

Let us first import `pandas` as follows:

In [1]:
import pandas as pd

Now, we will create a dictionary named `temperatures_dict` with the keys being the names of the people and the values being their three temperature readings.

In [2]:
temperatures_dict = {'Maxine': [70, 90, 75], 
                     'James': [73, 87, 77], 
                     'Amanda': [67, 85, 80]}

Now that we have created our dictionary `temperatures_dict`, we turn it into a `DataFrame` by using the `pandas` function `pd.DataFrame()`:

In [3]:
temperatures = pd.DataFrame(temperatures_dict)

Let's now check the `DataFrame` `temperatures`.

In [4]:
temperatures

   Maxine  James  Amanda
0      70     73      67
1      90     87      85
2      75     77      80

What a nice looking `DataFrame`!

b. We are now asked to recreate the previously created `DataFrame` `temperatures` with custom indices using the `index` keyword argument and a list containing `'Morning'`, `'Afternoon'
`, and `'Evening'`.

Let us first create a list `day_parts` containing the indices specified above.

In [5]:
day_parts = ['Morning', 'Afternoon', 'Evening']

Now, we can specify our custom indices with the `index` keyword argument.

In [6]:
temperatures = pd.DataFrame(temperatures_dict, index=day_parts)

We store the recreated `DataFrame` into `temperatures` so we can retrieve it in the next couple of subquestions.

We could also do the same thing in only one statement by specifying the elements of the list in code snippet [NUMBER].

In [7]:
temperatures = pd.DataFrame(temperatures_dict, index=['Morning', 'Afternoon', 'Evening'])

c. We are asked to select from our `DataFrame` `temperatures` the column of temperature readings from `'Maxine'`.

We get `'Maxine'`'s temperature readings by name. We expect the output to be displayed as a `Series`.

In [8]:
temperatures['Maxine']

Morning      70
Afternoon    90
Evening      75
Name: Maxine, dtype: int64

d. Now, we are asked to select from our `DataFrame` `temperatures` the row of temperature readings in the `'Morning'`.

We can access the `'Morning'` row by the label `'Morning'` via the `DataFrame`'s `loc` attribute as follows:

In [9]:
temperatures.loc['Morning']

Maxine    70
James     73
Amanda    67
Name: Morning, dtype: int64

We could have also accessed the data by specifying the zero-based index of the row we want to access. Since `'Morning'` is the first row (so row `0`), we can access the data as follows:

In [10]:
temperatures.iloc[0]

Maxine    70
James     73
Amanda    67
Name: Morning, dtype: int64

This indeed gives the same data!

e. We are now asked to select from our `DataFrame` `temperatures` the rows of temperature readings corresponding to the `'Morning'` and `'Evening'`.

To select the specific rows corresponding to `'Morning'` and `'Evening'`, we use the `loc` function with the indices '`Morning'` and `'Evening'` separated by a comma.

In [11]:
temperatures.loc[['Morning', 'Evening']]

         Maxine  James  Amanda
Morning      70     73      67
Evening      75     77      80

I also tried out using a list of row indices. Since `'Morning'` is the first row (so row `0`) and the third row (so row `2`), we can make a list out of these two indices and retrieve the data by means of the `iloc` function as follows:

In [12]:
temperatures.iloc[[0, 2]]

         Maxine  James  Amanda
Morning      70     73      67
Evening      75     77      80

f. Now we are facing a similar problem, but we have to select the columns corresponding to `'Amanda'`'s and `'Maxine'`'s temperature readings (instead of selecting the rows). We can again do it in two different ways: (1) by using a list of names, or (2) by using a list of column indices. Let us first try using a list of names. We again use the `loc` method of `DataFrame` and specify the list of names `['Amanda', 'Maxine']`:

In [13]:
temperatures.loc[:, ['Amanda', 'Maxine']]

           Amanda  Maxine
Morning        67      70
Afternoon      85      90
Evening        80      75

Let us try using a list of column indices instead. Since `'Maxine'` is the first column (so column `0`) and `'Amanda'` is the third column (so column `2`), we specify our list as follows:

In [14]:
temperatures.iloc[:, [2, 0]]

           Amanda  Maxine
Morning        67      70
Afternoon      85      90
Evening        80      75

Note that we want the readings of `'Amanda'` first, so we use the list `[2, 0]` instead of `[0, 2]`.

g. We are asked to get `'Amanda'`'s and '`Maxine'`'s readings for only the `'Morning'` and `'Afternoon'`. We can do this by combining our answers for question (e) and (f) (and replace `'Evening'` for `'Afternoon'` of course) as follows:

In [15]:
temperatures.loc[['Morning', 'Afternoon'], ['Amanda', 'Maxine']]

           Amanda  Maxine
Morning        67      70
Afternoon      85      90

In [16]:
temperatures.iloc[[0, 1], [2, 0]]

           Amanda  Maxine
Morning        67      70
Afternoon      85      90

h. We now examine the descriptive statistics of the `DataFrame` `temperatures` by using the `describe` method embedded in the `DataFrame` type:

In [17]:
temperatures.describe()

          Maxine      James     Amanda
count   3.000000   3.000000   3.000000
mean   78.333333  79.000000  77.333333
std    10.408330   7.211103   9.291573
min    70.000000  73.000000  67.000000
25%    72.500000  75.000000  73.500000
50%    75.000000  77.000000  80.000000
75%    82.500000  82.000000  82.500000
max    90.000000  87.000000  85.000000

We can see the following descriptive statistics about the `DataFrame` `temperatures`:
- count: The number of data points associated to each person.
- mean: The average temperature reading for each person.
- std: The standard deviation regarding the temperature readings for each person.
- min: The minimum of the temperature readings for each person.
- 25%: The median of the first half of the sorted temperature readings for each person.
- 50%: The median of the sorted temperature readings for each person.
- 75%: The median of the second half of the sorted temperature readings for each person.
- max: The maximum of the temperature readings for each person.

i. We can transpose the `DataFrame` `temperatures` by using the expression `.T`.

Our current `DataFrame` `temperatures` looks as follows:

In [18]:
temperatures

           Maxine  James  Amanda
Morning        70     73      67
Afternoon      90     87      85
Evening        75     77      80

Now, we will transpose `temperatures`:

In [19]:
temperatures.T

        Morning  Afternoon  Evening
Maxine       70         90       75
James        73         87       77
Amanda       67         85       80

We indeed see that `temperatures` is transposed!

j. We now have to sort the column names so that these are in alphabetical order. The current order is `'Maxine'`, `'James'`, `'Amanda'`, which should be ordered into `'Amanda'`, `'James'`, `'Maxine'`. We use the `sort_index` function to sort the column names in alphabetical order, and since we try to do this for the columns, we use the argument `axis=1`.

In [20]:
temperatures.sort_index(axis=1)

           Amanda  James  Maxine
Morning        67     73      70
Afternoon      85     87      90
Evening        80     77      75

It worked!

We can also sort the row names in alphabetical order by using the same statement as before, but instead by using `axis=1`, we use `axis=0`.

In [21]:
temperatures.sort_index(axis=0)

           Maxine  James  Amanda
Afternoon      90     87      85
Evening        75     77      80
Morning        70     73      67

Let's try if we can do this sorting simultaneously as well!

In [22]:
temperatures.sort_index(axis=0).sort_index(axis=1)

           Amanda  James  Maxine
Afternoon      85     87      90
Evening        80     77      75
Morning        67     73      70

# 8.3 Pig Latin

We are asked to write a script that encodes English-language phrases into a form of coded language called pig Latin.

We write a function `convert_to_pig_latin` that takes as an input a `string` `sentence`. It will then first initialize the `pig_latin_sentence`, in which the `sentence`, as written in pig Latin, will be stored. As indicated by the exercise description, we will use the `split()` function to split the `sentence` into individual words. Here, we assume that the words in the `sentence` are being separated by a single space. We store the individual words as retrieved by the `split()` function into a list of strings called `word_list`.

For each `word` in the list of strings `word_list`, we do the following: We check if the first letter of the `word` is a vowel. We use the `lower()` function to convert any possible capital letters to lowercase letters. This makes checking for a vowel easier. We make a tuple containing all vowels in lowercase form , and check whether the first letter (`word[0].lower()`) is in the tuple of vowels.
- If so, we just add "ay" to the end of the `word` to convert `word` to pig Latin. We add this pig-Latin word with a space at the end to the `pig_latin_sentence`.
- Else, we take the original `word` and place the first letter (`word[0]`) at the end of the word (so after `word[1:len(word)]`) and remove this letter at the beginning of the `word`. Then, we add "ay" with an extra space at the end again.

Finally, we remove the final space in the `pig_latin_sentence` for redundancy purposes.

In [23]:
def convert_to_pig_latin(sentence):
    """ Convert an input sentence into the coded language called pig-Latin."""
    pig_latin_sentence = ""
    word_list = sentence.split(' ')
    for word in word_list:
        if (word[0].lower() in ('a', 'e', 'i', 'o', 'u')):
            pig_latin_sentence += word+'ay '
        else:
            pig_latin_sentence += word[1:len(word)]+word[0]+'ay '
    return pig_latin_sentence[:-1]

Let's try out this function!

In [24]:
convert_to_pig_latin("jump")

'umpjay'

In [25]:
convert_to_pig_latin("the")

'hetay'

In [26]:
convert_to_pig_latin("computer")

'omputercay'

In [27]:
convert_to_pig_latin("to be or not to be that is the question")

'otay ebay oray otnay otay ebay hattay isay hetay uestionqay'

It seems to work!

# 8.8 Converting integers to emojis

We are asked to use the `c` presentation type to display 10 emojis beginning with the smiley face, which has the value `0x1F600`.

We create a `for` loop that loops over the digits `0` until `9` (inclusive). For each `digit`, we add this `digit` to the end of the unicode `'0x1F60'`, creating the unicodes `'0x1F600'` until `'0x1F609'`. We then use the function `eval` to store the integer version of the previously created string into the variable `unicode`. Finally, we use the `c` presentation type to format the integer character code as the corresponding emoji.

In [28]:
for digit in range(0, 10):
        unicode = eval('0x1F60'+str(digit))
        print(f'{unicode:c}')

😀
😁
😂
😃
😄
😅
😆
😇
😈
😉

We could also use the decimal representation of the hexadecimals mentioned above. A simple converting tool (https://www.rapidtables.com/convert/number/hex-to-decimal.html) can help us with that. We insert `'0x1F600'` and `'0x1F609'`, and obtain `128512` and `128522`. We convert these `decimal`s back to a hexadecimal by means of the `hex` function, and use the same steps as above afterwards.

In [29]:
for decimal in range(128512, 128522):
        unicode = eval(hex(decimal))
        print(f'{unicode:c}')

😀
😁
😂
😃
😄
😅
😆
😇
😈
😉

Note that it is easier to loop over all the different emojis since we don't have to take into account the changing of other digits or letters in the hexadecimal representations of the decimals. Let us try out what other emojis we can create by making the range larger!

In [30]:
for decimal in range(128512, 129536):
        unicode = eval(hex(decimal))
        print(f'{unicode:c}')

😀
😁
😂
😃
😄
😅
😆
😇
😈
😉
😊
😋
😌
😍
😎
😏
😐
😑
😒
😓
😔
😕
😖
😗
😘
😙
😚
😛
😜
😝
😞
😟
😠
😡
😢
😣
😤
😥
😦
😧
😨
😩
😪
😫
😬
😭
😮
😯
😰
😱
😲
😳
😴
😵
😶
😷
😸
😹
😺
😻
😼
😽
😾
😿
🙀
🙁
🙂
🙃
🙄
🙅
🙆
🙇
🙈
🙉
🙊
🙋
🙌
🙍
🙎
🙏
🙐
🙑
🙒
🙓
🙔
🙕
🙖
🙗
🙘
🙙
🙚
🙛
🙜
🙝
🙞
🙟
🙠
🙡
🙢
🙣
🙤
🙥
🙦
🙧
🙨
🙩
🙪
🙫
🙬
🙭
🙮
🙯
🙰
🙱
🙲
🙳
🙴
🙵
🙶
🙷
🙸
🙹
🙺
🙻
🙼
🙽
🙾
🙿
🚀
🚁
🚂
🚃
🚄
🚅
🚆
🚇
🚈
🚉
🚊
🚋
🚌
🚍
🚎
🚏
🚐
🚑
🚒
🚓
🚔
🚕
🚖
🚗
🚘
🚙
🚚
🚛
🚜
🚝
🚞
🚟
🚠
🚡
🚢
🚣
🚤
🚥
🚦
🚧
🚨
🚩
🚪
🚫
🚬
🚭
🚮
🚯
🚰
🚱
🚲
🚳
🚴
🚵
🚶
🚷
🚸
🚹
🚺
🚻
🚼
🚽
🚾
🚿
🛀
🛁
🛂
🛃
🛄
🛅
🛆
🛇
🛈
🛉
🛊
🛋
🛌
🛍
🛎
🛏
🛐
🛑
🛒
🛓
🛔
🛕
🛖
🛗
🛘
🛙
🛚
🛛
🛜
🛝
🛞
🛟
🛠
🛡
🛢
🛣
🛤
🛥
🛦
🛧
🛨
🛩
🛪
🛫
🛬
🛭
🛮
🛯
🛰
🛱
🛲
🛳
🛴
🛵
🛶
🛷
🛸
🛹
🛺
🛻
🛼
🛽
🛾
🛿
🜀
🜁
🜂
🜃
🜄
🜅
🜆
🜇
🜈
🜉
🜊
🜋
🜌
🜍
🜎
🜏
🜐
🜑
🜒
🜓
🜔
🜕
🜖
🜗
🜘
🜙
🜚
🜛
🜜
🜝
🜞
🜟
🜠
🜡
🜢
🜣
🜤
🜥
🜦
🜧
🜨
🜩
🜪
🜫
🜬
🜭
🜮
🜯
🜰
🜱
🜲
🜳
🜴
🜵
🜶
🜷
🜸
🜹
🜺
🜻
🜼
🜽
🜾
🜿
🝀
🝁
🝂
🝃
🝄
🝅
🝆
🝇
🝈
🝉
🝊
🝋
🝌
🝍
🝎
🝏
🝐
🝑
🝒
🝓
🝔
🝕
🝖
🝗
🝘
🝙
🝚
🝛
🝜
🝝
🝞
🝟
🝠
🝡
🝢
🝣
🝤
🝥
🝦
🝧
🝨
🝩
🝪
🝫
🝬
🝭
🝮
🝯
🝰
🝱
🝲
🝳
🝴
🝵
🝶
🝷
🝸
🝹
🝺
🝻
🝼
🝽
🝾
🝿
🞀
🞁
🞂
🞃
🞄
🞅
🞆
🞇
🞈
🞉
🞊
🞋
🞌
🞍
🞎
🞏
🞐
🞑
🞒
🞓
🞔
🞕
🞖
🞗
🞘
🞙
🞚
🞛
🞜
🞝
🞞
🞟
🞠
🞡
🞢
🞣
🞤
🞥
🞦
🞧
🞨
🞩
🞪
🞫
🞬
🞭
🞮
🞯
🞰
🞱
🞲
🞳
🞴
🞵
🞶
🞷
🞸
🞹
🞺
🞻
🞼
🞽
🞾
🞿
🟀
🟁
🟂
🟃
🟄
🟅
🟆
🟇
🟈
🟉
🟊
🟋
🟌
🟍
🟎
🟏
🟐
🟑
🟒
🟓
🟔
🟕
🟖
🟗
🟘
🟙
🟚
🟛
🟜
🟝
🟞
🟟
🟠
🟡
🟢
🟣
🟤
🟥
🟦
🟧
🟨
🟩
🟪
🟫
🟬
🟭
🟮
🟯
🟰
🟱
🟲
🟳
🟴
🟵
🟶
🟷
🟸
🟹
🟺
🟻
🟼
🟽
🟾
🟿
🠀
🠁
🠂
🠃
🠄
🠅
🠆
🠇
🠈
🠉
🠊
🠋
🠌
🠍
🠎
🠏
🠐
🠑
🠒
🠓
🠔
🠕
🠖
🠗
🠘
🠙
🠚
🠛
🠜
🠝
🠞
🠟
🠠
🠡
🠢
🠣
🠤
🠥
🠦
🠧
🠨
🠩
🠪
🠫
🠬
🠭
🠮
🠯
🠰
🠱
🠲
🠳
🠴
🠵
🠶
🠷
🠸
🠹
🠺
🠻
🠼
🠽
🠾
🠿
🡀
🡁
🡂
🡃
🡄
🡅
🡆
🡇
🡈
🡉
🡊
🡋
🡌
🡍
🡎
🡏
🡐
🡑
🡒
🡓
🡔
🡕
🡖
🡗
🡘
🡙
🡚
🡛
🡜
🡝
🡞
🡟
🡠
🡡
🡢
🡣
🡤
🡥
🡦
🡧
🡨
🡩
🡪
🡫
🡬
🡭
🡮
🡯
🡰
🡱
🡲
🡳
🡴
🡵
🡶
🡷
🡸
🡹
🡺
🡻
🡼
🡽
🡾
🡿
🢀
🢁
🢂
🢃
🢄
🢅
🢆
🢇
🢈
🢉
🢊
🢋
🢌
🢍
🢎
🢏
🢐
🢑
🢒
🢓
🢔
🢕
🢖
🢗
🢘
🢙
🢚
🢛
🢜
🢝
🢞
🢟
🢠
🢡
🢢
🢣
🢤
🢥
🢦
🢧
🢨
🢩
🢪
🢫
🢬
🢭
🢮
🢯
🢰
🢱
🢲
🢳
🢴
🢵
🢶
🢷
🢸
🢹
🢺
🢻
🢼
🢽
🢾
🢿
🣀
🣁
🣂
🣃
🣄
🣅
🣆
🣇
🣈
🣉
🣊
🣋
🣌
🣍
🣎
🣏
🣐
🣑
🣒
🣓
🣔
🣕
🣖
🣗
🣘
🣙
🣚
🣛
🣜
🣝
🣞
🣟
🣠
🣡
🣢
🣣
🣤
🣥
🣦
🣧
🣨
🣩
🣪
🣫
🣬
🣭
🣮
🣯
🣰
🣱
🣲
🣳
🣴
🣵
🣶
🣷
🣸
🣹
🣺
🣻
🣼
🣽
🣾
🣿
🤀
🤁
🤂
🤃
🤄
🤅
🤆
🤇
🤈
🤉
🤊
🤋
🤌
🤍
🤎
🤏
🤐
🤑
🤒
🤓
🤔
🤕
🤖
🤗
🤘
🤙
🤚
🤛
🤜
🤝
🤞
🤟
🤠
🤡
🤢
🤣
🤤
🤥
🤦
🤧
🤨
🤩
🤪
🤫
🤬
🤭
🤮
🤯
🤰
🤱
🤲
🤳
🤴
🤵
🤶
🤷
🤸
🤹
🤺
🤻
🤼
🤽
🤾
🤿
🥀
🥁
🥂
🥃
🥄
🥅
🥆
🥇
🥈
🥉
🥊
🥋
🥌
🥍
🥎
🥏
🥐
🥑
🥒
🥓
🥔
🥕
🥖
🥗
🥘
🥙
🥚
🥛
🥜
🥝
🥞
🥟
🥠
🥡
🥢
🥣
🥤
🥥
🥦
🥧
🥨
🥩
🥪
🥫
🥬
🥭
🥮
🥯
🥰
🥱
🥲
🥳
🥴
🥵
🥶
🥷
🥸
🥹
🥺
🥻
🥼
🥽
🥾
🥿
🦀
🦁
🦂
🦃
🦄
🦅
🦆
🦇
🦈
🦉
🦊
🦋
🦌
🦍
🦎
🦏
🦐
🦑
🦒
🦓
🦔
🦕
🦖
🦗
🦘
🦙
🦚
🦛
🦜
🦝
🦞
🦟
🦠
🦡
🦢
🦣
🦤
🦥
🦦
🦧
🦨
🦩
🦪
🦫
🦬
🦭
🦮
🦯
🦰
🦱
🦲
🦳
🦴
🦵
🦶
🦷
🦸
🦹
🦺
🦻
🦼
🦽
🦾
🦿
🧀
🧁
🧂
🧃
🧄
🧅
🧆
🧇
🧈
🧉
🧊
🧋
🧌
🧍
🧎
🧏
🧐
🧑
🧒
🧓
🧔
🧕
🧖
🧗
🧘
🧙
🧚
🧛
🧜
🧝
🧞
🧟
🧠
🧡
🧢
🧣
🧤
🧥
🧦
🧧
🧨
🧩
🧪
🧫
🧬
🧭
🧮
🧯
🧰
🧱
🧲
🧳
🧴
🧵
🧶
🧷
🧸
🧹
🧺
🧻
🧼
🧽
🧾
🧿

We can see some emojis, but not all! Also, the flags seem to be missing from this list. After doing some research, it seems like flags are made up of two different unicodes. I have tried a lot but I cannot seem to figure out how to combine two unicodes as one output emoji.

# 8.13 Regular expressions: Condense spaces to a single space

We are asked to check whether a sentence contains more than one space between words. If this is the case, we have to remove these extra spaces and display the result.

We can write a function `remove_additional_spaces` that takes a `sentence` as an input, and checks whether there are two subsequent spaces present in the `sentence` by means of a `while` loop. If this is the case, the two subsequent spaces are reduced to only one space by means of replacing the two spaces by one (`replace('  ', ' ')`). By the principles of recursion, we are assured that only single spaces will be left after the `while` loop has terminated. Then, in case there is still a space at the beginning or end of the `sentence`, we check for it through an `if` statement, and remove this extra space by shortening the `sentence` by one character (the extra space at either the beginning and/or the end).

In [31]:
def remove_additional_spaces(sentence):
    """Remove additional spaces in the input sentence."""
    while '  ' in sentence:
        sentence = sentence.replace('  ', ' ')
    if sentence[0] == ' ':
        sentence = sentence[1:len(sentence)]
    if sentence[len(sentence)-1] == ' ':
        sentence = sentence[0:len(sentence)-1]
    return sentence

Let's try it out!

In [32]:
remove_additional_spaces('to  be or  not    to be that  is the question')

'to be or not to be that is the question'

In [33]:
remove_additional_spaces('    to     be or not to be     ')

'to be or not to be'

In [34]:
remove_additional_spaces('Hello World')

'Hello World'

We see that all the unnecessary spaces have been removed!