# 005856021 (UID) - Assignment Week 2 - Rick Kessels

Self-assessment: I think the exercises went pretty well. I was struggling a little bit with the `range` in the last exercise, as I know the convention is to start the range at `0`, whereas I wanted to make it straight-forward and start it at `1`, since it would be easier to explain why I coded the way I did. My question here is: Can I assume in my notebooks that people know that the convention is to start at `0`, e.g. with the variable `lines`?

# 3.10 7% Investment Return

The formula given in the exercise is as follows: $ a = p(1 + r)^{n} $, with $p$ being the original amount invested, $r$ being the annual rate of return, $n$ being the number of years, and $a$ being the amount on the deposit at the end of the $n$th year.

The value for $p$ and $r$ is set in this exercise, and hence, we can allocate the set values to them first. Note that we rename $p$ to `principal` and $r$ to `interest_rate` for clarity.

In [1]:
principal = 1000
interest_rate = 0.07

Now, we will use a `for` loop over the number of years $n$, which we rename as `year`. The variable `money_in_account` represents the variable $a$ in the original formula and represents the total amount of money in the account after $n$ years. The `for` loop will calculate the `money_in_account` for each `year` between 1 and 30 (inclusive), and will print the balance.

In [2]:
for year in range(1, 31):
    money_in_account = principal * (1 + interest_rate) ** year
    print(f'{year:>2}{money_in_account:>10.2f}')

 1   1070.00
 2   1144.90
 3   1225.04
 4   1310.80
 5   1402.55
 6   1500.73
 7   1605.78
 8   1718.19
 9   1838.46
10   1967.15
11   2104.85
12   2252.19
13   2409.85
14   2578.53
15   2759.03
16   2952.16
17   3158.82
18   3379.93
19   3616.53
20   3869.68
21   4140.56
22   4430.40
23   4740.53
24   5072.37
25   5427.43
26   5807.35
27   6213.87
28   6648.84
29   7114.26
30   7612.26

Alternatively, we could use a while loop. We first allocate the value `30` to the variable `years`.  We also introduce a variable `counter` and allocate the value `0` to this variable.

In [3]:
years = 30
counter = 0

In the very beginning, the total `money_in_acccount` is equal to the `principal` of `1000` dollars, so we allocate this value to the variable `money_in_account`.

In [4]:
money_in_account = principal

Now, we introduce a `while` loop that iterates over the number of years, up until the `counter `(which keeps track of the years) reaches the value of `30` as allocated to the variable `years`.

In each iteration, the current value of `money_in_account` will be multiplied by `(1 + interest_rate)`, thereby calculating the amount of money in the bank account after that year. Compound interest is calculated over multiple years, and therefore, we can print out the current balance `money_in_account` after each iteration (so after each year). We increase the value of `counter` by `1` in each iteration as well.

In [5]:
while counter < years:
    money_in_account = money_in_account * (1 + interest_rate)
    counter = counter + 1
    print(f'Total money in account after {counter:>2} year(s): {money_in_account:.2f}')

Total money in account after  1 year(s): 1070.00
Total money in account after  2 year(s): 1144.90
Total money in account after  3 year(s): 1225.04
Total money in account after  4 year(s): 1310.80
Total money in account after  5 year(s): 1402.55
Total money in account after  6 year(s): 1500.73
Total money in account after  7 year(s): 1605.78
Total money in account after  8 year(s): 1718.19
Total money in account after  9 year(s): 1838.46
Total money in account after 10 year(s): 1967.15
Total money in account after 11 year(s): 2104.85
Total money in account after 12 year(s): 2252.19
Total money in account after 13 year(s): 2409.85
Total money in account after 14 year(s): 2578.53
Total money in account after 15 year(s): 2759.03
Total money in account after 16 year(s): 2952.16
Total money in account after 17 year(s): 3158.82
Total money in account after 18 year(s): 3379.93
Total money in account after 19 year(s): 3616.53
Total money in account after 20 year(s): 3869.68
Total money in account after 21 year(s): 4140.56
Total money in account after 22 year(s): 4430.40
Total money in account after 23 year(s): 4740.53
Total money in account after 24 year(s): 5072.37
Total money in account after 25 year(s): 5427.43
Total money in account after 26 year(s): 5807.35
Total money in account after 27 year(s): 6213.87
Total money in account after 28 year(s): 6648.84
Total money in account after 29 year(s): 7114.26
Total money in account after 30 year(s): 7612.26

# 3.13 Data Science: Factorials

In this exercise, we are asked to write a script that inputs a nonnegative integer and computes and displays its factorial.

Let us first ask the user for an integer input. We convert the input to the type `int` and store the inputted value into the variable `integer_factorial`.

In [6]:
integer_factorial = int(input('Enter an integer: '))

Enter an integer:  10

The factorial of a non-negative integer is at least equal to 1. For example, the factorial of 0 (0!) is equal to 1. The factorial of 1 (1!) is equal to 1 as well. The factorial of any integer larger than 1 is larger than 1. Hence, we initialize the value of the variable `factorial` to be 1, so we can start multiplying this variable with other integers.

In [7]:
factorial = 1

To calculate the factorial, we use a for loop that counts down to 1. It ranges from `integer_factorial` (representing the integer we have to calculate the factorial of) to 1, in decreasing steps of size 1. We multiply the current value of `factorial` with the current value of `integer`, thereby replicating the calculation of a factorial (e.g. $5! = 5 * 4 * 3 * 2 * 1$)

In [8]:
for integer in range(integer_factorial, 0, -1):
    factorial *= integer

Let us examine the value of `factorial` of the inputted value (10).

In [9]:
factorial

3628800

Hence, $10! = 3628800$

Now, we do the same thing for the factorials of 20 and 30.

In [10]:
integer_factorial = int(input('Enter an integer: '))

Enter an integer:  20

We reset the value of the variable `factorial` to 1.

In [11]:
factorial = 1

Now, we use the for loop again to calculate the factorial of 20.

In [12]:
for integer in range(integer_factorial, 0, -1):
    factorial *= integer

Again, let us examine the value of `factorial` of the inputted value (20).

In [13]:
factorial

2432902008176640000

Hence, $20! = 2432902008176640000$

Finally, let's examine $30!$.

In [14]:
integer_factorial = int(input('Enter an integer: '))

Enter an integer:  30

Again, we reset the value of `factorial` back to 1.

In [15]:
factorial = 1

Now, we use the for loop again to calculate the factorial of 30.

In [16]:
for integer in range(integer_factorial, 0, -1):
    factorial *= integer

Finally, let us examine the value of `factorial` of the inputted value (30).

In [17]:
factorial

265252859812191058636308480000000

Hence, $30! = 265252859812191058636308480000000$

# 3.31 Intro to Data Science: Categorical Data

Let us consider each of the three measures of central tendency individually.

The mean represents the average numeric value of the numbers. Since categorical values cannot be transformed into a numeric value, we cannot take the mean of categorical values.

The median represents the middle value of the numbers (when sorted). Some categorical values can be sorted (e.g. alphabetically), but the median would not have much value. For example, what would it mean if the median value is "Chihuahua" in the dataset consisting of "Boxer", "Chihuahua", "Golden Retriever"? I personally believe that this kind of median does not contain any added value about the data set.

The mode represents the most frequent value of the numbers. The frequency of categorical values can be examined (e.g. the breed "Labrador" occurs the most within a given data set), and would actually be useful (e.g. the breed "Labrador" is the most popular breed in these data). Therefore, the mode is the only measure of central tendency considered in this exercise that is actually applicable to categorical data.

# 3.17 Nested Loops

In this exercise, we are asked to recreate some star-patterns by using nested loops.

For each of the exercises, I will demonstrate two ways of recreating the pattern. One solution will contain a `for` and a `while` loop, whereas the other contains two `for` loops.

For the first exercise, I created a `for` loop that ranges from 1 until 10. This `for` loop keeps track of the lines, and each iteration within this loop will end with a new line being created (`print('\n')`). In each iteration, I introduce the `star_count` variable, which keeps track of the number of stars in a certain line. Namely, the number of stars need to match the line-number in this specific pattern. The `while` loop will take of the number of stars in each line (e.g. in line 4, it will keep printing stars and adding to the `star_count` up until the point the `star_count` has value 4, and thus four stars have been printed). As soon as a certain line (so a certain iteration in the `for` loop) is done, the variable `star_count` is reset to 0, and the process repeats itself. This happens until 10 lines, with each line containing an increasing number of stars, will be printed.

In [18]:
for line in range(1, 11):
    star_count = 0
    while (star_count < line):
        print('*', end='')
        star_count += 1
    print('\n')

*

**

***

****

*****

******

*******

********

*********

**********

We could also use two `for` loops for this exercise. The first `for` loop iterates over the lines again, whereas the second `for` loop manages the number of stars in a certain line. The value of `line` will help the second `for` loop with that, as e.g. in the third line, the `for` loop condition is the `range(1, 4)`, thereby printing 3 stars.

In [19]:
for line in range(1, 11):
    for star_count in range(1, line + 1):
        print('*', end='')
    print('\n')

*

**

***

****

*****

******

*******

********

*********

**********

For the second pattern to be recreated, we can basically use the same code as for the first pattern. However, instead of intializing the value of `star_count` to be 0, we set it to be 11. We also adjust the condition in the `while` loop, and make the `star_count` count down instead of up. All together, this creates the number of stars in a certain `line` to be equal to `11 - line`, e.g. in the first line (`line = 1`), there are 10 stars, in the second line 9 stars, etc.

In [20]:
for line in range(1, 11):
    star_count = 11
    while (star_count > line):
        print('*', end='')
        star_count -= 1
    print('\n')

**********

*********

********

*******

******

*****

****

***

**

*

The double `for` loop can be created by creating a second `for` loop that counts down based on the value of `line`. This means that in the first `line`, there will be 10 stars, whereas in the last line, there will only be 1 star.

In [21]:
for line in range(1, 11):
    for star_count in range(11 - line, 0, -1):
        print('*', end='')
    print('\n')

**********

*********

********

*******

******

*****

****

***

**

*

In the third pattern, we want to right-adjust the stars in a certain line. This means we should start each line with a certain number of spaces. This is captured by the statement `print(' ' * line,end='')`, which multiplies the space-string by the line number. Note that in the first line, we need no spaces, and therefore, we subtract 1 from the value of `line`. We could prevent this by letting `line` range over 0 until 10, but for convenience, we choose the value of `line` to be the same as the line-number. Finally, we print the right number of stars in each line by initializing `star_count` to be equal to 11 and letting the value of `star_count` decrease up until we have the right amount of stars in each line (e.g. in the first `line`, we get `11 - 1` stars).

In [22]:
for line in range(1, 11):
    star_count = 11
    print(' ' * (line - 1), end='')
    while (star_count > line):
        print('*', end='')
        star_count -= 1
    print('\n')

**********

 *********

  ********

   *******

    ******

     *****

      ****

       ***

        **

         *

Again, this would be the version with two `for` loops. We let the second `for` loop depend on the current value of `line` with a range that is decreasing. For example, in the first `line`, the condition is equal to `for count_stars in range(10, 0, -1)`.

In [23]:
for line in range(1, 11):
    print(' ' * line, end='')
    for star_count in range(11 - line, 0, -1):
        print('*', end='')
        star_count -= 1
    print('\n')

 **********

  *********

   ********

    *******

     ******

      *****

       ****

        ***

         **

          *

The final pattern to be recreated can be made by means of adjusting our previous code. We now make the `star_count` start at 0, and inverse the number of spaces in each line as compared to the previous pattern. Finally, we adjust the condition in the `while` loop so that it prints an increasing number of stars in each line instead of a decreasing number of stars.

In [24]:
for line in range(1, 11):
    star_count = 0
    print(' ' * (11 - line), end='')
    while (star_count < line):
        print('*', end='')
        star_count += 1
    print('\n')

          *

         **

        ***

       ****

      *****

     ******

    *******

   ********

  *********

 **********

This is the double `for` loop version of previous snippet. We make the second `for` loop condition dependent on the current value of `line`, thereby being able to print the correct number of stars.

In [25]:
for line in range(1, 11):
    print(' ' * (11 - line), end='')
    for star_count in range(1, line + 1):
        print('*', end='')
        star_count += 1
    print('\n')

          *

         **

        ***

       ****

      *****

     ******

    *******

   ********

  *********

 **********

# 3.26 Research: Anscombe's Quartet

Anscombe's Quartet comprises four data sets with each 11 (x, y) data points. These data sets share (nearly) the same descriptive statistics, but upon graphical inspection look nothing alike.

The data sets share following descriptive statistics:
 - Mean of x: 9
 - Sample variance of x: 11
 - Mean of y: 7.50
 - Sample variance of y: 4.125
 - Correlation between x and y: 0.816
 - Linear regression line: y = 3.00 + 0.500x
 - Coefficient of determination: 0.67